#1)

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=9b9775c4e287fe4bf268c99a84930b9bd928ab3b2a4f7e3a0f6f64077ddf481c
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SQLContext
from pyspark.sql.functions import when, rand, expr
import random

In [3]:
spark = SparkSession\
        .builder.master("local[*]")\
        .appName("Exercicio Intro")\
        .getOrCreate()

In [4]:
df_nomes = spark.read.csv("nomes_aleatorios.txt", header=False)

In [5]:
df_nomes.show(5)

+----------------+
|             _c0|
+----------------+
|  Frances Bennet|
|   Jamie Russell|
|  Edward Kistler|
|   Sheila Maurer|
|Donald Golightly|
+----------------+
only showing top 5 rows

#2)

In [6]:
df_nomes.printSchema()

root
 |-- _c0: string (nullable = true)

In [7]:
df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")

In [8]:
df_nomes.printSchema()

root
 |-- Nomes: string (nullable = true)

In [9]:
df_nomes.show(10)

+-----------------+
|            Nomes|
+-----------------+
|   Frances Bennet|
|    Jamie Russell|
|   Edward Kistler|
|    Sheila Maurer|
| Donald Golightly|
|       David Gray|
|      Joy Bennett|
|      Paul Kriese|
|Berniece Ornellas|
|    Brian Farrell|
+-----------------+
only showing top 10 rows

# 3)

In [17]:
df_nomes = df_nomes.withColumn("Escolaridade", when(rand() < 1/3, "Fundamental")
.when(rand() < 2/3, "Médio").otherwise("Superior"))

In [18]:
df_nomes.show(10)

+-----------------+------------+
|            Nomes|Escolaridade|
+-----------------+------------+
|   Frances Bennet| Fundamental|
|    Jamie Russell|       Médio|
|   Edward Kistler|       Médio|
|    Sheila Maurer|       Médio|
| Donald Golightly|    Superior|
|       David Gray|       Médio|
|      Joy Bennett| Fundamental|
|      Paul Kriese| Fundamental|
|Berniece Ornellas|    Superior|
|    Brian Farrell| Fundamental|
+-----------------+------------+
only showing top 10 rows

# 4)

In [19]:
paises = ['Argentina', 'Bolívia', 'Brasil',
          'Chile', 'Colômbia', 'Equador',
          'Guiana', 'Guiana Francesa', 'Paraguai', 'Peru',
          'Suriname', 'Uruguai', 'Venezuela']

In [20]:
df_nomes = df_nomes.withColumn("Pais",
    when(rand() < 1/13, "Brasil")
    .when(rand() < 2/13, "Argentina")
    .when(rand() < 3/13, "Chile")
    .when(rand() < 4/13, "Colômbia")
    .when(rand() < 5/13, "Equador")
    .when(rand() < 6/13, "Peru")
    .when(rand() < 7/13, "Venezuela")
    .when(rand() < 8/13, "Uruguai")
    .when(rand() < 9/13, "Bolívia")
    .when(rand() < 10/13, "Paraguai")
    .when(rand() < 11/13, "Suriname")
    .when(rand() < 12/13, "Guiana")
    .otherwise("Guiana Francesa"))

In [21]:
df_nomes.show(10)

+-----------------+------------+---------+
|            Nomes|Escolaridade|     Pais|
+-----------------+------------+---------+
|   Frances Bennet| Fundamental| Colômbia|
|    Jamie Russell|       Médio|Argentina|
|   Edward Kistler|       Médio|     Peru|
|    Sheila Maurer|       Médio|  Equador|
| Donald Golightly|    Superior| Colômbia|
|       David Gray|       Médio|  Equador|
|      Joy Bennett| Fundamental|Argentina|
|      Paul Kriese| Fundamental|    Chile|
|Berniece Ornellas|    Superior|     Peru|
|    Brian Farrell| Fundamental|   Brasil|
+-----------------+------------+---------+
only showing top 10 rows

# 5)

In [22]:
df_nomes = df_nomes.withColumn("AnoNascimento", expr("int(1945 + rand() * 66)"))

In [23]:
df_nomes.show(10)

+-----------------+------------+---------+-------------+
|            Nomes|Escolaridade|     Pais|AnoNascimento|
+-----------------+------------+---------+-------------+
|   Frances Bennet| Fundamental| Colômbia|         1978|
|    Jamie Russell|       Médio|Argentina|         2006|
|   Edward Kistler|       Médio|     Peru|         1968|
|    Sheila Maurer|       Médio|  Equador|         2002|
| Donald Golightly|    Superior| Colômbia|         1980|
|       David Gray|       Médio|  Equador|         1998|
|      Joy Bennett| Fundamental|Argentina|         2007|
|      Paul Kriese| Fundamental|    Chile|         1967|
|Berniece Ornellas|    Superior|     Peru|         1949|
|    Brian Farrell| Fundamental|   Brasil|         1989|
+-----------------+------------+---------+-------------+
only showing top 10 rows

# 6)

In [26]:
df_select = df_nomes.select("*").filter(df_nomes.AnoNascimento >= 2000)

In [27]:
df_select.show(10)

+---------------+------------+---------+-------------+
|          Nomes|Escolaridade|     Pais|AnoNascimento|
+---------------+------------+---------+-------------+
|  Jamie Russell|       Médio|Argentina|         2006|
|  Sheila Maurer|       Médio|  Equador|         2002|
|    Joy Bennett| Fundamental|Argentina|         2007|
|   Leroy Strahl|       Médio|Argentina|         2010|
|   David Medina|       Médio|    Chile|         2010|
|    Page Marthe|       Médio|    Chile|         2007|
|Helen Blackwell|    Superior| Colômbia|         2000|
|   Rebecca Snow| Fundamental|Argentina|         2009|
|    Sandra Todd|       Médio|  Uruguai|         2006|
| Rosie Lovelady|       Médio|  Equador|         2004|
+---------------+------------+---------+-------------+
only showing top 10 rows

# 7)

In [28]:
df_nomes.createOrReplaceTempView("pessoas")

spark.sql("select * from pessoas WHERE AnoNascimento >= 2000 limit 10").show()

+---------------+------------+---------+-------------+
|          Nomes|Escolaridade|     Pais|AnoNascimento|
+---------------+------------+---------+-------------+
|  Jamie Russell|       Médio|Argentina|         2006|
|  Sheila Maurer|       Médio|  Equador|         2002|
|    Joy Bennett| Fundamental|Argentina|         2007|
|   Leroy Strahl|       Médio|Argentina|         2010|
|   David Medina|       Médio|    Chile|         2010|
|    Page Marthe|       Médio|    Chile|         2007|
|Helen Blackwell|    Superior| Colômbia|         2000|
|   Rebecca Snow| Fundamental|Argentina|         2009|
|    Sandra Todd|       Médio|  Uruguai|         2006|
| Rosie Lovelady|       Médio|  Equador|         2004|
+---------------+------------+---------+-------------+

# 8)

In [38]:
df_millennials = df_nomes.select("*").filter((df_nomes.AnoNascimento >= 1980)
& (df_nomes.AnoNascimento <= 1994))
count_millennials = df_millennials.count()
print(count_millennials)

441398

# 9)

In [39]:
df_nomes.createOrReplaceTempView("pessoas")

query = """
select count(*) as count
from pessoas
where AnoNascimento >= 1980 and AnoNascimento <= 1994
"""

millennials_count = spark.sql(query)

millennials_count.show()

+------+
| count|
+------+
|441398|
+------+

# 10)

In [50]:
query = """
SELECT Pais,
  CASE
    WHEN AnoNascimento BETWEEN 1944 AND 1964 THEN 'Baby Boomers'
    WHEN AnoNascimento BETWEEN 1965 AND 1979 THEN 'Geração X'
    WHEN AnoNascimento BETWEEN 1980 AND 1994 THEN 'Millennials'
    WHEN AnoNascimento BETWEEN 1995 AND 2015 THEN 'Geração Z'
  END AS Geracao,
  COUNT(*) AS Quantidade
FROM pessoas
GROUP BY Pais, Geracao
ORDER BY Pais, Geracao, Quantidade
"""

result_df = spark.sql(query)
result_df.show(60)

+---------------+------------+----------+
|           Pais|     Geracao|Quantidade|
+---------------+------------+----------+
|      Argentina|Baby Boomers|     83864|
|      Argentina|   Geração X|     63177|
|      Argentina|   Geração Z|     67143|
|      Argentina| Millennials|     62774|
|        Bolívia|Baby Boomers|      9975|
|        Bolívia|   Geração X|      7479|
|        Bolívia|   Geração Z|      7790|
|        Bolívia| Millennials|      7382|
|         Brasil|Baby Boomers|     45152|
|         Brasil|   Geração X|     33547|
|         Brasil|   Geração Z|     36373|
|         Brasil| Millennials|     33889|
|          Chile|Baby Boomers|    105642|
|          Chile|   Geração X|     79869|
|          Chile|   Geração Z|     84774|
|          Chile| Millennials|     79365|
|       Colômbia|Baby Boomers|    109348|
|       Colômbia|   Geração X|     81962|
|       Colômbia|   Geração Z|     86650|
|       Colômbia| Millennials|     81709|
|        Equador|Baby Boomers|     94216|
|        Equador|   Geração X|     70314|
|        Equador|   Geração Z|     75367|
|        Equador| Millennials|     70552|
|         Guiana|Baby Boomers|       148|
|         Guiana|   Geração X|       116|
|         Guiana|   Geração Z|       136|
|         Guiana| Millennials|       104|
|Guiana Francesa|Baby Boomers|        20|
|Guiana Francesa|   Geração X|         9|
|Guiana Francesa|   Geração Z|         4|
|Guiana Francesa| Millennials|         9|
|       Paraguai|Baby Boomers|      3357|
|       Paraguai|   Geração X|      2515|
|       Paraguai|   Geração Z|      2755|
|       Paraguai| Millennials|      2688|
|           Peru|Baby Boomers|     69225|
|           Peru|   Geração X|     51981|
|           Peru|   Geração Z|     55341|
|           Peru| Millennials|     52332|
|       Suriname|Baby Boomers|       852|
|       Suriname|   Geração X|       681|
|       Suriname|   Geração Z|       684|
|       Suriname| Millennials|       633|
|        Uruguai|Baby Boomers|     23060|
|        Uruguai|   Geração X|     17265|
|        Uruguai|   Geração Z|     18267|
|        Uruguai| Millennials|     17308|
|      Venezuela|Baby Boomers|     43334|
|      Venezuela|   Geração X|     32862|
|      Venezuela|   Geração Z|     34942|
|      Venezuela| Millennials|     32653|
+---------------+------------+----------+